<div class="container">

  <div class="mb-5">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-2">Articles listing page</h1>
      </div>
      <div class="level-right">
        <%= link_to 'Create article', {action: 'new'}, class: 'button is-primary' %>
      </div>
  </div>

  </div>

  <%= render 'article' %>


</div>