<div class="container">
    <div class="mb-5">
        <h1 class="title is-2">Create a new article</h1>
    </div>
</div>

<%= render 'form' %>

<%= link_to 'Cancel and return to articles listing', root_path  %>