// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";
body {
    // background-color: tomato;
}

.custom-notification {
    h2 {
        font-size: 18px;
        color: $black;
        margin-bottom: 30px;
        font-weight: bold;
    }
    ul {
        li {
            list-style: circle;
        }
    }
}

.profile {
    text-align: center;
    img {
        border-radius: 50%;
    }
    .profile-pic {
        margin-bottom: 40px;
    }
}

.form, .custom-content {
    padding: 40px;
}